package components

import "github.com/jenmud/edgedb/models"

// Graph represents a graph.
templ Graph(data models.Graph) {
	<div id="graph">
		@GraphContainer(data)
	</div>
}

templ GraphContainer(data models.Graph) {
	<div
		id="graph-container"
		data-graph={ templ.JSONString(data) }
	></div>
	<script>
    const el = document.getElementById('graph-container');
    const data = JSON.parse(el.getAttribute('data-graph'));
    FillGraph('graph-container', data);
  </script>
}
